name: Final-Smart-Build
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java & Flutter
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Force Create & Build
        run: |
          # پروجیکٹ کو دوبارہ سے بنانا (اگر فائلیں نہیں ہیں)
          flutter create --project-name=masail_ka_hal --platforms=android .
          
          # اینڈرائیڈ بلڈ کی اجازت دینا
          chmod +x android/gradlew
          
          # اے پی کے بنانا
          flutter pub get
          flutter build apk --release --split-per-abi

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Masail-ka-Hal-Final
          path: build/app/outputs/flutter-apk/*.apk
