name: Build Masail ka Hal APK
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install Dependencies
        run: |
          flutter pub get
          flutter pub add flutter_launcher_icons --dev

      - name: Configure and Generate Icons
        run: |
          cat <<EOF > flutter_launcher_icons.yaml
          flutter_launcher_icons:
            android: "launcher_icon"
            ios: true
            image_path: "icon.png"
            adaptive_icon_background: "#ffffff"
          EOF
          flutter pub run flutter_launcher_icons

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Masail-ka-Hal-APK
          path: build/app/outputs/flutter-apk/app-release.apk
